<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Active fires</title>
    <link rel="stylesheet" href="/static/css/index.css">
  </head>
	<body>
    <div class="container">
      <div class="container-features" id="container-left-sidebar">
        <h1>Example title</h1>
        <h2>Example description</h2>
        <div class="container-filter">
          <details class="details-filter">
            <summary class="summary-description">Filter</summary>
            <div class="div-filter">
              <div class="div-filter-datetime">
                <details id="details-date">
                  <summary class="summary-description">Date <input type="checkbox" id="filterDate" class="main-checkbox" checked="true"></summary>
                  <div name="dates" class="div-filter-data" id="availableDate"></div>
                </details>
              </div>
              <div class="div-filter-source">
                <details id="details-source">
                  <summary class="summary-description">Source <input type="checkbox" id="filterSource" class="main-checkbox" checked="true"></summary>
                  <div name="sources" class="div-filter-data" id="availableSource"></div>
                </details>
              </div>
              <div class="div-filter-geographic">
                <details id="details-area">
                  <summary class="summary-description">Area <input type="checkbox" id="filterArea" class="main-checkbox" checked="true"></summary>
                  <div name="areas" class="div-filter-data" id="availableArea"></div>
                </details>
                <details id="details-country">
                  <summary class="summary-description">Country <input type="checkbox" id="filterCountry" class="main-checkbox" checked="true"></summary>
                  <div name="countries" class="div-filter-data" id="availableCountry"></div>
                </details>
              </div>
            </div>
            <div class="div-apply">
              <button class="action-button" id="reset-button">Reset default</button>
              <button class="action-button" id="save-button">Save</button>
            </div>
          </details>
        </div>
        <div class="container-request">
          <details class="details-request">
            <summary class="summary-description">Request</summary>
            <div class="div-request">
              <label>Delimiter</label>
              <select id="requestDelimiter" class="request-parameter"></select>
              <label>Zone</label>
              <select id="requestArea" class="request-parameter"></select>
              <select id="requestCountry" class="request-parameter hidden"></select>
              <label>Source</label>
              <select id="requestSource" class="request-parameter"></select>
              <label>Range</label>
              <select id="requestRange" class="request-parameter"></select>
              <label>Date</label>
              <input id="requestDate" type="date" placeholder="YYYY-MM-DD" class="request-parameter">
            </div>
            <div class="div-apply">
              <button class="action-button" id="request-button">Get data</button>
            </div>
          </details>
        </div>
      </div>
      <div class="container-canvas" id="container-center"></div>
      <div class="container-features" id="container-right-sidebar">
        <div id="markerInformation" class="hidden">
            <label class="marker-info" id="id"></label>
            <label class="marker-info" id="latitude"></label>
            <label class="marker-info" id="longitude"></label>
            <label class="marker-info" id="country"></label>
            <label class="marker-info" id="nasa_abreviation"></label>
            <label class="marker-info" id="affiliated_iso_country"></label>
            <label class="marker-info" id="nasa_region"></label>
            <label class="marker-info" id="subregion"></label>    
            <label class="marker-info" id="acq_date"></label>
            <label class="marker-info" id="acq_time"></label>
            <label class="marker-info" id="instrument"></label>
            <label class="marker-info" id="satellite"></label>
            <label class="marker-info" id="version"></label>
            <label class="marker-info" id="daynight"></label>
            <label class="marker-info" id="path"></label>
            <label class="marker-info" id="row"></label>
            <label class="marker-info" id="bright_ti4"></label>
            <label class="marker-info" id="bright_ti5"></label>
            <label class="marker-info" id="bright_ti31"></label>
            <label class="marker-info" id="brightness"></label>
            <label class="marker-info" id="confidence"></label>
            <label class="marker-info" id="scan"></label>
            <label class="marker-info" id="track"></label>
            <label class="marker-info" id="frp"></label>
        </div>
      </div>

      <div id="markerLabel" class="hidden">
        <button id="closeButton">X</button>
        <div id="markerLabelInformation">
          <label id="idLabel"></label>
          <label id="latitudeLabel"></label>
          <label id="longitudeLabel"></label>
        </div>
      </div>
    </div>
    <script type="importmap">
      {
        "imports": {
          "three": "https://unpkg.com/three@0.162.0/build/three.module.js",
          "three/addons/": "https://unpkg.com/three@0.162.0/examples/jsm/"
        }
      }
    </script>
    <script id="data"> 
      var user_data = {{ user_data | tojson }};
      var options_data = {{ options_data | tojson }};
      var user_key = "{{user_key}}";
    </script>
    <script type="module" src="/static/js/main.js"></script>
	</body>
</html>

