<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" name="viewport" content="width=device-width">
		<title>Active fires</title>
    <link rel="stylesheet" href="/static/css/index.css">
  </head>
	<body>
    <main>
      <div class="application-container">
        <div class="container fl-1" style="margin-left: 0.5%;">      
          <div class="area" style="padding: 1em;">            
            <h1>Active fires</h1>
            <h2>Example description</h2>   
            <div style="overflow-y: auto; max-height: 70vh; padding-right: 1em;">
              <div style="margin-top: 1em; margin-bottom: 1em;">
                <details>
                  <summary style="margin-bottom: 0.5em;">Request data</summary>
                  <div style="margin-left: 2em; margin-right: 2em;">
                    <div style="display: grid; margin-bottom: 0.5em;">
                      <span style="margin-bottom: 0.25em;">Delimiter</span>
                      <select id="requestDelimiter" class="request-parameter" property = "delimiter"></select>
                    </div>
                    <div style="display: grid; margin-bottom: 0.5em;">
                      <span style="margin-bottom: 0.25em;">Zone</span>
                      <select id="requestArea" class="request-parameter" property = "zone"></select>
                      <select id="requestCountry" class="request-parameter hidden" property = "zone"></select>
                    </div>
                    <div style="display: grid; margin-bottom: 0.5em;">
                      <span style="margin-bottom: 0.25em;">Source</span>
                      <select id="requestSource" class="request-parameter" property = "source"></select>
                    </div>
                    <div style="display: grid; margin-bottom: 0.5em;">
                      <span style="margin-bottom: 0.25em;">Range</span>
                      <select id="requestRange" class="request-parameter" property = "dayrange"></select>                
                    </div>
                    <div style="display: grid; margin-bottom: 0.5em;">
                      <span style="margin-bottom: 0.25em;">Date</span>
                      <input id="requestDate" type="date" placeholder="YYYY-MM-DD" class="request-parameter" property = "date">
                    </div>
                    <div>
                      <button class="action-button" id="request-button">Get data</button>
                    </div>
                  </div>
                </details>
              </div>
              <div style="margin-top: 1em; margin-bottom: 1em;">
                <details>
                  <summary style="margin-bottom: 0.5em;">Filter</summary>
                  <div style="margin-left: 2em;">
                    <details id="details-date" style="margin-bottom: 0.5em;">
                      <summary>Date <input type="checkbox" id="filterDate" class="main-checkbox" checked="true"></summary>
                      <div name="dates" id="availableDate" style="margin-left: 2em; overflow-y: auto; max-height: 300px; scroll-behavior: smooth;"></div>
                    </details>
                    <details id="details-source" style="margin-bottom: 0.5em;">
                      <summary>Source <input type="checkbox" id="filterSource" class="main-checkbox" checked="true"></summary>
                      <div name="sources" id="availableSource" style="margin-left: 2em; overflow-y: auto; max-height: 300px; scroll-behavior: smooth;"></div>
                    </details>
                    <details id="details-area" style="margin-bottom: 0.5em;">
                      <summary>Area <input type="checkbox" id="filterArea" class="main-checkbox" checked="true"></summary>
                      <div name="areas" id="availableArea" style="margin-left: 2em; overflow-y: auto; max-height: 300px; scroll-behavior: smooth;"></div>
                    </details>
                    <details id="details-country" style="margin-bottom: 0.5em;">
                      <summary>Country <input type="checkbox" id="filterCountry" class="main-checkbox" checked="true"></summary>
                      <div name="countries" id="availableCountry" style="margin-left: 2em; overflow-y: auto; max-height: 300px; scroll-behavior: smooth;"></div>
                    </details>
                    <button class="action-button" id="reset-button">Reset default</button>
                    <button class="action-button" id="save-button">Save</button>
                  </div>
                </details>
              </div>
            </div>         
          </div>
        </div>
        <div class="canvas" id="threejs-canvas"></div>
        <div class="container fr-1" style="margin-right: 0.5%;">
          <div class="area" style="padding: 1em;">
            <h2>container-features</h2>
            <div class="hidden" id="markerInformation" style="display: grid;">
              <span class="marker-info" id="id"></span>
              <span class="marker-info" id="latitude"></span>
              <span class="marker-info" id="longitude"></span>
              <span class="marker-info" id="country"></span>
              <span class="marker-info" id="nasa_abreviation"></span>
              <span class="marker-info" id="affiliated_iso_country"></span>
              <span class="marker-info" id="nasa_region"></span>
              <span class="marker-info" id="subregion"></span>    
              <span class="marker-info" id="acq_date"></span>
              <span class="marker-info" id="acq_time"></span>
              <span class="marker-info" id="instrument"></span>
              <span class="marker-info" id="satellite"></span>
              <span class="marker-info" id="version"></span>
              <span class="marker-info" id="daynight"></span>
              <span class="marker-info" id="path"></span>
              <span class="marker-info" id="row"></span>
              <span class="marker-info" id="bright_ti4"></span>
              <span class="marker-info" id="bright_ti5"></span>
              <span class="marker-info" id="bright_ti31"></span>
              <span class="marker-info" id="brightness"></span>
              <span class="marker-info" id="confidence"></span>
              <span class="marker-info" id="scan"></span>
              <span class="marker-info" id="track"></span>
              <span class="marker-info" id="frp"></span>
            </div>
          </div>
        </div>
        <div id="markerLabel" class="hidden">
          <button id="closeButton">X</button>
          <div id="markerLabelInformation">
            <span id="idLabel"></span>
            <span id="latitudeLabel"></span>
            <span id="longitudeLabel"></span>
          </div>
        </div>
      </div>
    </main>
    <script type="importmap">
      {
        "imports": {
          "three": "https://unpkg.com/three@0.162.0/build/three.module.js",
          "three/addons/": "https://unpkg.com/three@0.162.0/examples/jsm/"
        }
      }
    </script>
    <script id="data"> 
      var user_data = {{ user_data | tojson }}
      var options_data = {{ options_data | tojson }};
      var user_key = "{{user_key}}";
    </script>
    <script type="module" src="/static/js/main.js"></script>
	</body>
</html>

