body{
    margin: 0;
}
.container-features{
    margin-top: 2%;
    color: white;
    width: 20%;
    padding: 10px;
}
#container-left-sidebar{
    border: 1px solid red;
    float: left;
    margin-left: 10px;
}
#container-right-sidebar{
    border: 1px solid blue;
    float: right;
    margin-right: 10px;
}
.container-filter{
    max-height: 500px;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding-right: 10px;
}
.container-canvas{
    position:fixed; 
    top:0;
    left:0;
    z-index: -1;
}
#markerLabel{
    padding: 4px;
    border: 1px solid red;
    background-color: rgba(255, 255, 255, 0.753);
    left: 5%;
}
#markerInformation, #markerLabelInformation{
    display: grid;
}
#closeButton{
    float: right;
}
.hidden{
    display: none;
}


/* FILTER DIV */
.div-filter, .div-newdata,.div-apply{
    margin-left: 20px;
}
.div-subfilter{
    margin-left: 20px;
}
.div-filter-data{
    margin-left: 20px;
    max-height: 400px;
    scroll-behavior: smooth;
    overflow-y: auto;
}